.header{
    font-size: 90px !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800 !important;
    color: #D02531;
    justify-content: center;
    margin-top: 60px ;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .header{
        font-size: 50px !important;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800 !important;
        color: #D02531;
        justify-content: center;
        margin: 60px 0px;

    }
    .header img{
        width: 50px !important;
    }
}

@media only screen and (max-device-width: 480px) { 
    .header{
        font-size: 20px !important;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 800 !important;
        color: #D02531;
        justify-content: center;
        margin: 60px 0px;

    }
    .header img{
        width: 20px !important;
    }
}